extend layout
block content
  div
    | Please enter details
    div
      form(id='add-device' action='#{urlForm}' method='post')
        input(type="hidden" name="token" value=token )
        label.input-form
          |Device ID
          input(type="text" name="device_id" )
        label.input-form
          |Device Description
          input(type="text" name="device_description" )
        label.input-form
          |Device Connector
          select(id="deviceconnector" name="device_connector_id" )
            if connectors
              each connector, index in connectors
                option(value= connector._id) #{connector.name}
        label.input-form
            |Device Category
            select(id="devicecateg" name="device_category_id" )
              if categories
                each category, index in categories
                  option(value= category._id) #{category.name}
        fieldset(class="fieldset")
          legend
            |Attributes
          label.input-form
              |Latitude
              input(type="text" name="device_geo_latitude" )
          label.input-form
              |Longitude
              input(type="text" name="device_geo_longitude" )
        button(id="add-device" onclick='something()' class="button") Add Device
block sidebar
  .widget
    p
